#app-container {
	background-color: #397AAC;
	padding: 15px;
	margin: auto;
	border-radius: 10px;
	max-width: 1000px;
	min-width: 300px;
}
	
	h1 {
		text-align: center;
		color: #FFFFFF;
	}

	#timeLogo {
		width: 150px;
	}

	#somLogo {
		float: right;
		width: 200px;
		margin-top: 40px;
		margin-right: 15px;
	}

	#mobileLogo {
		width: 450px;
	}

	#logos {
		margin-top: 80px;
		border-top: thin solid #FFFFFF;
	}

	#purpose {
		max-width: 700px;
		margin: auto;
		font-family: Georgia, sans-serif;
		font-size: 20px;
		text-align: center;
	}

	#welcome {
		font-family: Arial, sans-serif;
		color: #FFFFFF;
		text-align: center;
		margin-bottom: 15px;
		font-size: 20px;
	}

	#login-page {
		text-align: center;
		color: #FFFFFF;
		font-size: 20px;
		font-family: Arial, sans-serif;
	}	

		#login-container {
			margin-bottom: 100px;
		}

		#login-button {

		}

	#page-1 {

	}

		#observers-container {

		}

			.observer-info {
				display:inline-block;
				background-color: #AAD5F3;
				border-radius: 10px;
				padding: 10px;
				margin-top: 15px;
				margin-bottom: 15px;
				font-size: 20px;
				font-family: Arial, sans-serif;
			}

				.email {
					/*font-size: 20px;*/
				}

					input[type=email] {
						border: thin solid black;
						border-radius: 4px;
						padding: 5px;
						font-size: 15px;
						height: 20px;
						width: 300px;
						margin-right: 10px;
					}

						.invalid {
							background-color: #FA8072;
						}

				#instructions {
					font-size: 17px;
					margin-top: 10px;
				}

				.activities-container {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-around;	
					padding: 5px;
					margin-top: 10px;
					margin-bottom: 10px;
				}
					 .activity-button {
					 	width: 400px;
					 }

				.active {
					background-color: #515458;
					color: #FFFFFF;
				}

				.checkbox {
					width: 500px;
				}
					input[type=checkbox] {
						height:25px;
						width: 20px;
						margin-right: 5px;
						vertical-align: middle;
					}

					.confirm-selections {
						margin-top: 10px; 
					}

					.delete-observer {
						float: right;
						background-color: #FF0000;
						color: #FFFFFF;
					}

					.delete-observer:hover {
						background-color: #FF0000;
					}


	#page-2 {
		padding: 10px;
	}

		#survey-container {

		}

			.observer-panel{
				font-size: 20px;
				font-family: Arial, sans-serif;
				padding: 10px;
				margin-bottom: 15px;
				background-color: #AAD5F3;
				border-radius: 4px;
			}

			.survey {
				background-color: #AAD5F3;
				border-radius: 4px;
				padding: 10px;
				margin-bottom: 15px;
				font-size: 20px;
				font-family: Arial, sans-serif;
			}

				.observer-name {
					margin: 10px;
				}
					input[type=text] {
						border: thin solid black;
						border-radius: 4px;
						padding: 5px;
						height: 20px;
						font-size: 15px;
					}

				.observer-position {
					margin-bottom: 10px;
					margin-left: 10px;
				}
					#position {
						border: thin solid black;
						border-radius: 4px;
						font-size: 15px;
						height: 30px;
					}

				#patient-instructions {
					font-size: 17px;
					text-align: center;
				}

				.questions {
					margin: 10px;
				}

					.question-and-responses {
						background-color: #E2ECFE;
						border-radius: 4px;
						margin-bottom: 5px;
						padding: 10px;
					}

						.question {
							margin-bottom: 10px;

						}

						.radio-set {

						}

							.radio-div {
								display: block;
								margin-bottom: 10px;
								font-size: 17px;
							}

								input[type=radio] {
									position: relative;
									visibility: hidden;
									cursor: pointer;
									width: 15px;
									height: 15px;
									margin-right: 10px;
								}

								input[type=radio]:after {
									display: block;
									position: absolute;
									content: "";
									visibility: visible;
									height: 15px;
									width: 15px;
									border-radius: 10px;
									border: thin solid #3853A0;
									background: #FFFFFF;
									cursor: pointer;
									vertical-align: middle;
								}

								input[type=radio]:checked:after {
									background: #3853A0;
								}

						.comment {
							height: 100px;
							width: 90%;
							border-radius: 4px;
							border: thin solid black;
							font-size: 17px;
							resize: none;
						}

	button {
		background-color: #FFFFFF;
		border: none;
		border-radius: 4px;
		margin: 2px;
		font-size: 15px;
		letter-spacing: 1px;
		padding: 10px;
	}

	button:hover[:not(.confirm-email)] {
		background-color: #CFD3D5;
	}

	button.active:hover {
		background-color: #515458;
	}

	button.active:disabled {
		opacity: .7;
	}







